.wrap-main {
    float: left;
    width: calc(50% - 10px);

}

.btn-title-card {
    margin-top: -10px;
}

.tree-content {
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
}

.card-content-detail {
    min-height: 57.5vh;
    max-height: 60vh;
}
