<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- Hiển thị danh mục con -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="doClickItem(node)">
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        <span *ngIf="!showCheckbox" [innerHTML]="node.name"></span>
        <mat-checkbox *ngIf="showCheckbox" class="checklist-leaf-node" [(ngModel)]="node.choice" (ngModelChange)="doChangeChkItem(node)">
            <span [innerHTML]="node.name"></span>
        </mat-checkbox>
    </mat-tree-node>
    <!-- Hiển thị danh mục cha -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        <span [innerHTML]="node.name"></span>
    </mat-tree-node>
</mat-tree>