<app-loading [loading]="loading"></app-loading>
<div class="modal-header">
    <h4 class="modal-title pull-left" [innerHTML]="title"></h4>
</div>
<div class="modal-body">
    <mat-card style="border: #ccc 1px solid; box-shadow: none !important">
        <mat-card-header class="card-header-custom">
            <mat-card-title>Thông tin chung</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form" novalidate>
                <c-row>
                    <c-col md="4" xl="4" xs="12">
                        <mat-form-field class="full-width">
                            <mat-label>Tên portal</mat-label>
                            <input matInput [(ngModel)]="namePortal" [ngModelOptions]="{standalone: true}" disabled />
                        </mat-form-field>
                    </c-col>
                    <c-col md="4" xl="4" xs="12">
                        <mat-form-field class="full-width">
                            <mat-label>Mã menu</mat-label>
                            <input trim="blur" uppercaseText matInput formControlName="menuCode" />
                            <mat-error *ngIf="form.controls['menuCode'].hasError('required')">Vui lòng nhập thông tin
                            </mat-error>
                            <mat-error *ngIf="form.controls['menuCode'].hasError('maxlength')">
                                Mã menu không được dài quá 30 kí tự
                            </mat-error>
                        </mat-form-field>
                    </c-col>
                    <c-col md="4" xl="4" xs="12">
                        <mat-form-field class="full-width">
                            <mat-label>Thứ tự hiển thị</mat-label>
                            <input matInput formControlName="displayOrder" />
                            <mat-error *ngIf="form.controls['displayOrder'].hasError('required')">Vui lòng nhập thông
                                tin
                            </mat-error>
                        </mat-form-field>
                    </c-col>
                    <c-col md="4" xl="4" xs="12">
                        <mat-form-field class="full-width">
                            <mat-label>URL</mat-label>
                            <input matInput formControlName="url" />
                            <mat-error *ngIf="form.controls['url'].hasError('required')">Vui lòng nhập thông
                                tin
                            </mat-error>
                        </mat-form-field>
                    </c-col>
                </c-row>
                <c-row>
                    <c-col md="4" xl="4" xs="12">
                        <mat-slide-toggle class="slide-toggle-custom" formControlName="displayDataHome">
                            Hiển thị trên trang chủ
                        </mat-slide-toggle>
                    </c-col>
                    <c-col md="4" xl="4" xs="12">
                        <mat-slide-toggle class="slide-toggle-custom" formControlName="displaySubmenu">
                            Submenu
                        </mat-slide-toggle>
                    </c-col>
                </c-row>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-card style="
            border: #ccc 1px solid;
            margin-top: 15px;
            box-shadow: none !important;
        ">
        <mat-card-header class="card-header-custom">
            <mat-card-title>Thông tin chi tiết</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <c-row>
                <c-col md="12" xl="12" xs="12" class="text-right">
                    <button active="normal" color="success" cButton (click)="doAddRow()" *ngIf="formType!=='detail'">
                        <svg cIcon name="cilPlus"></svg>
                        Thêm dòng
                    </button>
                </c-col>
            </c-row>
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 10%">
                            STT
                        </th>
                        <th class="text-center" style="width: 10%" *ngIf="formType !== 'detail'">
                            Chức năng
                        </th>
                        <th class="text-center" style="width: 25%">Ngôn ngữ</th>
                        <th class="text-center">
                            Tên menu
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of lstPortalMenuLang; let i = index">
                        <td class="text-center">{{ i + 1 }}</td>
                        <td class="text-center" *ngIf="formType !== 'detail'">
                            <ul class="table-action">
                                <li matTooltip="Xoá" (click)="doRemoveRow(item, i)">
                                    <svg cIcon name="cilTrash"></svg>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <select class="form-control" [disabled]="formType === 'detail'" [(ngModel)]="item.langCode">
                                <option [value]=undefined>
                                    {{ '---Chọn ngôn ngữ---' }}
                                </option>
                                <option *ngFor="let obj of lstLangByPortal" [value]="obj.langCode">
                                    {{ obj.langName }}
                                </option>
                            </select>
                        </td>
                        <td class="text-center">
                            <input type="text" class="form-control" placeholder="Nhập tên menu"
                                [disabled]="formType === 'detail'" maxLength="1000" [(ngModel)]="item.name" />
                        </td>
                    </tr>
                    <tr *ngIf="lstPortalMenuLang.length === 0">
                        <td class="text-center" colspan="4">Không có bản ghi</td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</div>
<div class="modal-footer">
    <button class="margin-r15" color="info" cButton (click)="savePortalMenu()" *ngIf="formType!=='detail'">
        <svg cIcon name="cilSave"></svg>
        Lưu
    </button>
    <button color="danger" cButton (click)="doClose()">
        <svg cIcon name="cilX"></svg>
        Đóng
    </button>
</div>
