<div class="animated fadeIn">
    <mat-card>
        <mat-card-header class="card-header-custom">
            <mat-card-title>Thông tin tìm kiếm</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <c-row>
                <c-col md="6" xl="6" xs="12">
                    <mat-form-field class="full-width">
                        <mat-label>Mã công ty</mat-label>
                        <input trim="blur" matInput [(ngModel)]="codeCompany">
                    </mat-form-field>
                </c-col>
                <c-col md="6" xl="6" xs="12">
                    <mat-form-field class="full-width">
                        <mat-label>Trạng thái</mat-label>
                        <mat-select [(ngModel)]="isActive">
                            <mat-option [value]="">
                                --- Chọn ---
                            </mat-option>
                            <mat-option [value]="1">
                                Đang hoạt động
                            </mat-option>
                            <mat-option [value]="0">
                                Ngừng hoạt động
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </c-col>
            </c-row>
            <div class="form-group text-end clear-margin">
                <button active="normal" color="info" cButton (click)="doSearch(1)">
                    <svg cIcon name="cilZoom"></svg>
                    Tìm kiếm
                </button>
                <button active="normal" class="margin-l5" color="info" cButton (click)="doCreate()">
                    <svg cIcon name="cilPlus"></svg>
                    Thêm mới
                </button>
            </div>
        </mat-card-content>
    </mat-card>

    <grid-table
        [dataSource]="dataList"
        [tableColumns]="tableColumns"
        [tableAction]="tableAction"
        [totalItems]="totalItems"
        (doChangePage)="doSearch($event)">
    </grid-table>
</div>
