<app-loading [loading]="loading"></app-loading>
<div class="frm-wraper">
    <div class="login-form">
        <div class="form-item">
            <div class="min-vh-100 d-flex flex-row align-items-center">
                <div class="left-content">
                    <div class="top">
                        <img src="assets/img/login/logo_bca.png"/>
                        <div class="top-title">Hệ thống quản lý nội dung</div>
                    </div>
                    <div class="middle">
                        <div class="d-flex flex-row align-items-center">
                            <form cForm (ngSubmit)="doResetPass()" class="form-width" [formGroup]="loginForm">
                                <c-input-group class="mb-3">
                                    <span cInputGroupText>
                                        <svg cIcon name="cilEnvelopeClosed"></svg>
                                    </span>
                                    <input autoComplete="email" type="email" cFormControl placeholder="Nhập email"
                                           formControlName="email"/>
                                    <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                                        Vui lòng nhập thông tin
                                    </mat-error>
                                    <mat-error *ngIf="loginForm.controls['email'].hasError('pattern')">
                                        Vui lòng nhập email đúng định dạng
                                    </mat-error>
                                </c-input-group>

                                <c-row>
                                    <c-col md="6" class="cler-padding-right">
                                        <c-input-group class="mb-4">
                                            <span cInputGroupText>
                                                <svg cIcon name="cilBlur"></svg>
                                            </span>
                                            <input trim="blur" cFormControl placeholder="Mã bảo mật" type="text"
                                                   formControlName="captcha"/>
                                            <mat-error *ngIf="loginForm.controls['captcha'].hasError('required')">
                                                Vui lòng nhập thông tin
                                            </mat-error>
                                        </c-input-group>
                                    </c-col>
                                    <c-col md="6">
                                        <img src="data:image/png;base64,{{
                                                base64Captcha
                                            }}" style="
                                                float: left;
                                                border-radius: 0.375rem;
                                            "/>
                                        <span class="text-link captcha-refresh" (click)="getCaptcha()">
                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                        </span>
                                    </c-col>
                                </c-row>
                                <c-row>
                                    <c-col md="12">
                                        <button cButton class="btn-login btn-color-primary full-width" color="primary"
                                                type="submit">
                                            Quên mật khẩu
                                        </button>
                                    </c-col>
                                </c-row>
                                <br>
                                <c-row>
                                    <c-col md="12">
                                        <span><a routerLink="/login"
                                                 style="color:red;font-weight:bold; font-size: 15px;">Đăng nhập</a></span>
                                    </c-col>
                                </c-row>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-footer">
        <span class="login-auth">&copy; 2022 <strong>VDSS</strong> - Hệ thống quản lý nội dung
            </span>
    </div>
</div>
