<a class="link story-tool-item" [matMenuTriggerFor]="menu"><i class="fa fa-share-alt"></i></a>
<mat-menu #menu="matMenu">
    <button class="non-link" mat-menu-item>
        <img class="share-img" src="../../../assets/images/share/zalo.svg">&nbsp;
        <span>Zalo</span>
    </button>
    <button mat-menu-item class="non-link">
        <img class="share-img" src="../../../assets/images/share/fb.svg">&nbsp;
        <span>Facebook</span>
    </button>
    <button mat-menu-item class="non-link">
        <img class="share-img" src="../../../assets/images/share/twitter.svg">&nbsp;
        <span>Twitter</span>
    </button>
    <button mat-menu-item class="non-link">
        <img class="share-img" src="../../../assets/images/share/messager.svg">&nbsp;
        <span>Messenger</span>
    </button>
</mat-menu>